@import 'variables';

.header {
	background-color: $darkest-blue;
	color: $white;
	height: 78px;
	padding: 0px 30px;
	.logo {
		color: $white;
		font-size: 22px;
		& span:first-child {
			font-weight: 700;
		}
		& span:last-child {
			font-weight: 400;
		}
	}
}