<div class="c-pagination">
    <button type="button" class="c-pagination__chevron" (click)="previousPage()">
        <img src="/assets/icons/chevron-left.png" alt="">
    </button>
    <div *ngFor="let page of viewPagesList; index as i" class="c-pagination__container-step">
        <button class="c-pagination__step" [ngClass]="{'c-pagination__step-active': actualPage === page}">{{ page }}</button>
        <ng-template [ngIf]="pagesNumber > 5 && (pageList.length > 5 && i === 4)">
            <span>...</span>
        </ng-template>
    </div>
    <button type="button" class="c-pagination__chevron" (click)="nextPage()">
        <img src="/assets/icons/chevron-right.png" alt="">
    </button>
</div>
