<div class="p-login">
    <div class="p-login__form-container">
        <form action="" class="p-login__form-container__form">
            <app-input [inputId]="'1'"></app-input>
            <app-input [inputId]="'2'" [inputType]="inputType" (iconEvent)="showPassword()" [iconPath]="iconPath"></app-input>
            <app-button [text]="'ENTRAR'"></app-button>
        </form>
    </div>
    <div class="p-login__img-container">
        <img src="/assets/images/login-ilustration.jpg" alt="">
    </div>
</div>
