<div fxLayout="row" class="login-container">
    <section fxLayout="column" fxLayoutAlign="center center" class="login-section">
        <div class="text" fxLayout="column">
            <div fxLayout="row">
                <span>Pay</span>
                <span>Friends</span>
            </div>
            <p>Bem vindo de volta</p>
        </div>
        <form action="" fxLayout="column" fxLayoutGap="37px">
            <app-input [type]="'email'"></app-input>
            <app-input [type]="'password'"></app-input>
        </form>
    </section>
    <section>
        imagem
    </section>
</div>