<div class="p-home">
    <app-header></app-header>
    <div class="p-home__content">
        <h1>Meus Pagamentos</h1>
        <app-button class="p-home__content__button" [text]="'ADICIONAR PAGAMENTO'" (click)="addPayment()"></app-button>
        <!-- <button type="button" (click)="addNewPayment()">add</button>
        <button type="button" (click)="editPayment()">edit</button>
        <button type="button" (click)="deletePayment()">delete</button> -->
        <app-payments-table 
            [payments]="paymentsList" 
            [pagesNumber]="pagesNumber" 
            (limitPerPageEvent)="getLimitPerPageValue($event)"
            (EventActualPage)="getPageValue($event)"
        >
        </app-payments-table>
    </div>
    <app-modal *ngIf="modalOpened" (declineEvent)="toggleModal()"></app-modal>
</div>
