@import 'variables';

.p-home {
    background-color: $gray-fifty;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 20px;
        padding: 80px 45px;

        h1 {
            margin: 0;
        }

        &__button {
            align-self: flex-end;
            max-width: 213px;
        }
    }

    &__c-modal {
        &__form {
            display: flex;
            flex-direction: column;
            gap: 36px;

            div {
                display: flex;
                gap: 30px;

                input {
                    border-radius: 5px;
                    border: 1px solid $blue-forty;
                    // height: 52px;
                    outline: none;
                    padding: 20px 15px;
                    width: 320px;
                }
            }
        }
    }

}