<div class="p-home">
    <app-header></app-header>
    <div class="p-home__content">
        <h1>Meus Pagamentos</h1>
        <app-button class="p-home__content__button" [text]="'ADICIONAR PAGAMENTO'" (click)="addPayment()"></app-button>
        <!-- <button type="button" (click)="addNewPayment()">add</button>
        <button type="button" (click)="editPayment()">edit</button>
        <button type="button" (click)="deletePayment()">delete</button> -->
        <app-payments-table 
            [payments]="paymentsList" 
            [pagesNumber]="pagesNumber" 
            (limitPerPageEvent)="getLimitPerPageValue($event)"
            (EventActualPage)="getPageValue($event)"
        >
        </app-payments-table>
    </div>
    <app-modal *ngIf="modalOpened" [title]="'Adicionar pagamento'" (declineEvent)="toggleModal()" class="p-home__c-modal">
        <form class="p-home__c-modal__form">
            <div>
                <input type="text" placeholder="Usuário*">
                <input type="text" placeholder="Data*">
            </div>
            <div>
                <input type="text" placeholder="Valor*">
                <input type="text" placeholder="Título">
            </div>
        </form>
    </app-modal>
</div>
