/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.42857143;
    margin: 0;
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    input, button, select, textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
  }
    input {
      &::placeholder {
        font-family: inherit;
      }
    }
  }