$blue-primary: #042d69;
$blue-secondary: #157dfe;
$blue-third: #F4F8FB;
$blue-forty: #dce5e9;
$gray-primary: #323232;
$gray-secondary: #e3e3e3;
$gray-third: #f5f5f5;
$gray-forty: #adadad;
$gray-fifty: #f2f2f2;
$white: #fff;